@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --primary-color: #00ce96;
  --secondary-color: #1ad5c0;
  --white-color: #fff;
  --black-color: #000;
  --lightgray-color: #e2e8f0;
}
